# Spring boot
api.ln-foot.com {
  reverse_proxy api:8080
}

# Keycloak
auth.ln-foot.com {
  reverse_proxy keycloak:8080
}

# Minio Console
s3-console.ln-foot.com {
  reverse_proxy minio:9001
}

# Minio API
s3.ln-foot.com {
  reverse_proxy minio:9000
}

# Database Explorer
omnidb.ln-foot.com {
  reverse_proxy omnidb:8000
}